<section id="posts" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        {% assign posts=site.categories.blog | where:"lang", page.lang %}
        {% for post in posts %}
          <div>
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p class="text-info lead">
              {{ post.date | date: "%b %-d, %Y" }}
            </p>

            {% if post.thumbnail %}
            <div class="img-centered">
                <img src="{{ site.url }}{{ post.thumbnail }}" width="400">
            </div>
            <br/>
            {% else if post.image %}
            <div class="img-centered">
                <img src="{{ site.url }}{{ post.image }}" width="640">
            </div>
            <br/>
            {% endif %}
            <p>
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
            <hr />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
