<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{{site.header['services'][page.lang]}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{{site.header['portfolio'][page.lang]}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{{site.header['about'][page.lang]}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{{site.header['team'][page.lang]}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{{site.header['contact'][page.lang]}}</a>
                    </li>
                    <li>
                        <a href="{{ site.resources[page.lang] }}">{{site.header['resources'][page.lang]}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <div class="wrapper" style="text-align: right; line-height: 2em">
                {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
            </div>
      </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
          <div class="intro-text">
            <div class="intro-heading">
                <img class="logo" src="img/logo_wb.png" width="23%" height="23%" alt="Logo Col·lectivaT">
            </div>
            <div class="intro-lead-in">{{site.header['intro'][page.lang]}}</div>
            <div class="intro-subheading"> {{site.header['intro_sub'][page.lang]}}</div>
            <!-- <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a> -->
          </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

